<div class="container">
  <div class="row">
    <div class="col-sm-8 py-4">
      <h4>About</h4>
      <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius sequi, sint itaque iure quae nisi consequatur dolor aperiam
        maiores explicabo tempora illum, obcaecati iste quas beatae. Consequuntur voluptatem distinctio fugit.</p>
    </div>
    <div class="col-sm-4 py-4">
      <h4>Contact</h4>
      <ul class="list-unstyled">
        <li>
          <a href="#">Follow on Twitter</a>
        </li>
        <li>
          <a href="#">Like on Facebook</a>
        </li>
        <li>
          <a href="#">Email me</a>
        </li>
      </ul>
    </div>
  </div>
</div>